.body{
    -fx-background-image: url("https://i.pinimg.com/564x/bb/b3/c8/bbb3c87c44e19dd36ab8b8556024d0d8.jpg");
     
}
.height
{
    -fx-background-image: url("https://i.pinimg.com/564x/bb/b3/c8/bbb3c87c44e19dd36ab8b8556024d0d8.jpg");
}


.typeofexer
{
   -fx-background-image: url("https://i.pinimg.com/564x/bb/b3/c8/bbb3c87c44e19dd36ab8b8556024d0d8.jpg"); 
   
}

.challeng
{
    -fx-background-image: url("https://i.pinimg.com/564x/bb/b3/c8/bbb3c87c44e19dd36ab8b8556024d0d8.jpg");
}


